@charset "utf-8";

@font-face {
    font-family: "HeaderFont";
    src: url("./font/mini-wakuwaku.otf");
}

@font-face {
    font-family: "TextFont";
    src: url("./font/ZenMaruGothic-Bold.ttf");
}

html {
    touch-action: manipulation;
    -ms-touch-action: manipulation;
}

body {
    background-color: #C68E53;

    text-align: center;
    font-family: "TextFont";
    font-size: large;
    animation: fadeIn 1s forwards;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(./img/background.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    display: block;

    height: 1.5rem;
    width: 100%;

    overflow: hidden;
    text-align: left;
}

hr {
    height: 0.1rem;
    width: 90%;
    background-color: #7a560c;
    border: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

button {
    display: block;

    background-color: #FEC50C;
    box-shadow: 0 0.5rem 0 #C07F0E;

    font-family: "HeaderFont";
    font-size: min(5vw, 2.6vh);
    color: white;
    -webkit-text-stroke: 2px #7a5829;

    border: none;
    border-radius: 1000px;
}

button:hover {
    transform: translateY(0.25rem);
    box-shadow: 0 0.25rem 0 #C07F0E;
}

button:active {
    box-shadow: none;
    transform: translateY(0.5rem);
}

table {
    margin: auto;
    table-layout: fixed;
    width: 90%;

    background-color: #ECD680;
    color: #5c410a;

    border-collapse: separate;
    border: solid #7a560c 2px;
    border-radius: 2rem;
}

td,
th {
    border-left: solid #7a560c 2px;
    border-top: solid #7a560c 2px;
}

th {
    font-size: x-large;
    border-top: none;
}

td:first-child,
th:first-child {
    border-left: none;
}


th,
td {
    width: 80%;
}

td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

footer {
    background: #c78e54;

    margin-top: 1rem;
    padding: 0.5rem;

    display: flex;
    justify-content: space-between;
}

#banner {
    margin: 0;
    padding: 0;

    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: forwards;
}

#banner p {
    margin: 0;
    padding: 0;

    color: black;
}

#gameDiv {
    position: relative;
}

#wrappingDiv {
    margin: auto;
}

#titleDiv {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

#audioImg {
    width: 15%;
    z-index: 10;
    margin-bottom: 10%;
}

#titleImg {
    width: 100%;
    margin-top: 35%;
    margin-bottom: 10%;
}

#howToPlayWrapperDiv {
    box-sizing: border-box;
    width: 90%;

    padding: 1rem;
    margin: auto;

    color: #5c410a;
    border: #7a560c 2px solid;
    border-radius: 2rem;
    background: #ffeb9a;
}

#evolutionDiv {
    box-sizing: border-box;
    width: 90%;

    padding: 1rem;
    margin: auto;

    color: #5c410a;
    border: #7a560c 2px solid;
    border-radius: 2rem;
    background: #ffeb9a;
}

#evolutionDiv img {
    display: block;
    margin: 1rem auto;
    width: 40%;
}

#dialogWrapperDiv {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

    display: none;
    align-items: center;
    justify-content: center;
}

#dialogDiv {
    width: min(80vw, 50vh);
    max-height: 80Vh;
    overflow-y: auto;

    margin: auto;

    border-color: #7a5e39;
    border-width: 1rem;
    border-radius: 1rem;
    border-style: solid;
    background: #FFF7D3;

    text-align: center;
}

#dialogDiv h1 {
    font-size: xx-large;
}

#dialogDiv h2 {
    font-size: x-large;
}

#dialogDiv button {
    margin: 2rem auto;
    width: min(50vw, 35vh);
    height: 8vh;
}

#dialogDiv input {
    font-size: xx-large;
    font-family: "TextFont";
    text-align: center;

    width: 70%;

    border-color: #D9A560;
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 1000px;
}

#slotWrapperDiv {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

#slotWrapperDiv img {
    width: min(80vw, 50vh);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#deamonRing {
    display: none;
}

#repositoryDiv {
    float: left;
}

#collaboratorDiv {
    float: right;
}

#returnToHomeButton {
    padding: 2rem;
    margin: 0.5rem auto 2rem auto;
}

.simpleText {
    font-family: "HeaderFont";
    color: white;

    -webkit-text-stroke: 2px #7a5829;
}

.titleButton {
    vertical-align: bottom;
    margin: 5% auto;
    width: 60%;
    height: 8%;
}

.rank1Td {
    background-color: #F6CB57;
    color: #463209;
}

.rank2Td {
    background-color: #A1BEC4;
    color: #214253;
}

.rank3Td {
    background-color: #E7B05C;
    color: #693f00;
}

.nameDiv {
    font-size: large;
}

.scoreDiv {
    margin-top: 0.25rem;
}

.scoreDiv * {
    vertical-align: middle;
}

.howToImg {
    width: 60%;
    margin: 0.5rem auto 1rem auto;
    border: 0.25rem solid #F0AE4E;
}

.rankingBallImg {
    height: 2rem;
}

.nextButton {
    display: inline-block;
    font-size: xx-large;

    padding: 1rem;
    margin: 0rem 0.5rem;
    width: 40%;
}

.resultImg {
    height: min(40vh, 70vw);
    background-image: url(img/background.png);
    background-size: cover;
    background-position: center;
    border: 2px solid #7a560c;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fall {
    0% {
        top: -10%;
        opacity: 0%;
    }

    10% {
        opacity: 100%;
    }

    90% {
        opacity: 100%;
    }

    100% {
        top: 110%;
        opacity: 0%;
    }
}