@charset "utf-8";

@font-face {
    font-family: "HeaderFont";
    src: url("./font/mini-wakuwaku.otf");
}

@font-face {
    font-family: "TextFont";
    src: url("./font/MPLUSRounded1c-Regular.ttf");
}

body {
    text-align: center;
    font-family: "TextFont";
    font-size: x-large;
    animation: fadeIn 1s forwards;
}

table {
    margin: auto;
    table-layout: fixed;
    width: 90%;

}

table,
th,
td {
    border-collapse: collapse;
    border-radius: 2px;
    border-color: #B2D2E1;
    border-style: solid;


}

th,
td {
    width: 80%;
}

footer {
    background: #c78e54;


    display: flex;
    justify-content: space-between;
}

#wrappingDiv {
    margin: auto;
}

#repositoryDiv {
    float: left;
}

#collaboratorDiv {
    float: right;
}


.simpleText {
    font-family: "HeaderFont";
    color: white;

    -webkit-text-stroke: 2px #7a5829;
}

.scoreDiv * {
    vertical-align: middle;
}

.rankingBallImg {
    height: 1rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}