@charset "utf-8";

@font-face {
    font-family: "mini-wakuwaku";
    src: url("./font/mini-wakuwaku.otf");
}

body {
    text-align: center;
}

footer {
    background: #c78e54;

    font-size: large;

    display: flex;
    justify-content: space-between;
}

#wrappingDiv {
    margin: 0;
}

#repositoryDiv {
    float: left;
}

#collaboratorDiv {
    float: right;
}


.simpleText {
    font-family: "mini-wakuwaku";
    color: white;

    -webkit-text-stroke: 2px #7a5829;
}